
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Webster - Multi-Purpose HTML5 Template" />
<meta name="author" content="potenzaglobalsolutions.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>FIR-Gmov</title>
<link rel='stylesheet' id='BNS-Corner-Logo-Style-css'  href='css/social_icons_from_Techandallcom.css' type='text/css' media='screen' />
<!-- Favicon -->
<link rel="shortcut icon" href="images/ofavicon.ico" />

<style>
#main-area{
  /* position: fixed !important; /* Set the navbar to fixed position */ */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

main{
	width: 100%;
  margin-top: 0px;
}

.nav-list .small{
	width: 20px;
}

</style>

<!-- font -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/list.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<!-- Plugins -->
<link rel="stylesheet" type="text/css" href="css/plugins-css.css" />

<!-- Typography -->
<link rel="stylesheet" type="text/css" href="css/typography.css" />

<!-- Shortcodes -->
<link rel="stylesheet" type="text/css" href="css/shortcodes/shortcodes.css" />

<!-- Style -->
<link rel="stylesheet" type="text/css" href="css/style.css" />

<!-- movie -->
<link rel="stylesheet" type="text/css" href="demo-one-page/movie/css/movie.css" />

<!-- Responsive -->
<link rel="stylesheet" type="text/css" href="css/responsive.css" />

<!-- Style customizer -->
<link rel="stylesheet" type="text/css" href="demo-one-page/product/css/product.css" />

<link rel="stylesheet" type="text/css" href="css/ripple.css">
</head>

<body class="page-xrp">

<div class="wrapper">
	  <div class="wrap" role="document">
    <div class="content">
<!--=================================
 preloader -->

<!-- <div id="pre-loader">
    <img src="images/pre-loader/loader-06.svg" alt="">
</div> -->

<!--=================================
 preloader -->

 <section id="homesection"></section>

<!--=================================
 header -->
 <!-- <section id="headerr"> -->
 <header id="main-area">
 <section class="navigation" id="main-area">
 <div class="nav-container" >
	 <div class="brand">
		 <a href="/"><img class="img-fluid" src="images/logo_main.png" alt=""> </a>
	 </div>
	 <nav>
		<div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
		<ul class="nav-list">
			<li>
				<a href="/" class="active">Introduction</a>
			</li>
			<li>
				<a href="#menu03">ICO</a>
			</li>
			<li>
				<a href="#menu04">History</a>
			</li>
			<li>
				<a href="#menu06">Expert</a>
			</li>
			<li>
				<a href="#menu07">Partner</a>
			</li>
      <li>
				<a href="/reserva">Reservation</a>
			</li>
      <% if(!user) {%>
			<li>
				<a href="/login">WALLET</a>
			</li>
      <% }else{%>
      <li>
  			<a href="/myWallet/<%=user%>">WALLET</a>
  		</li>
      <% } %>
			<li>
				<a href="#!">Language</a>
				<ul class="nav-dropdown">
					<li>
						<a class="<%=(lang=="kor"?"active":"")%>" href="/?clang=kor"><img class="small" sytle="display: inline-block;" src="images/ko.jpg" /><span style="margin-right:10px;font-size:12pt;">&nbsp; &nbsp;한국어</span></a>
					</li>
					<li>
						<a class="<%=(lang=="en"?"active":"")%>" href="/?clang=en"><img class="small" sytle="display: inline-block;" src="images/en.jpg" /><span style="margin-right:10px;font-size:12pt;">&nbsp; &nbsp;English</span></a>
					</li>

				</ul>
			</li>
		</ul>
	</nav>
</div>
</section>
</header>
	<!-- <div class="topnav"  id="myTopnav">
 	 <a href="index.html"><img class="img-fluid" src="images/logo_main.png" alt=""> </a>
 		<div class="topnav2">
 		 <a href="index.html" class="active">Introduction</a>
 	 	<a href="#menu03">ICO</a>
 	 	<a href="#menu04">History</a>
 	 	<a href="#menu06">Expert</a>
 	 	<a href="#menu07">Partner</a>
 	 	<a target="_blank" href="http://firgmov.io">WALLET</a>

    	<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
 </div>
  <script>
  function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
          x.className += " responsive";
      } else {
          x.className = "topnav";
      }
  }
  </script> -->


<!--=================================
 header -->

<!--=================================
 banner -->

    <main class="main_content" role="main">
      <div class="parallax-container" style="opacity: 1;">
        <div class="parallax floor" data-parallax='{"smoothness": 5,"scaleY": -1, "from-scroll": 0, "to-scroll": 900}'></div>
        <div class="parallax layer4" data-parallax='{"y": 480, "smoothness": 5, "from-scroll": 0, "to-scroll": 900}'> </div>
        <div class="parallax layer3" data-parallax='{"y": 202, "smoothness": 5, "from-scroll": 0, "to-scroll": 900}'></div>
        <div class="parallax layer2" data-parallax='{"y": -125, "smoothness": 5, "from-scroll": 0, "to-scroll": 900}'></div>
        <div class="parallax layer1" data-parallax='{"y": -480, "smoothness": 5, "from-scroll": 0, "to-scroll": 900}'></div>
        <div class="parallax layer0" data-parallax='{"y": -940, "smoothness": 5, "from-scroll": 0, "to-scroll": 900}'></div>
      </div>
	<section class="main-content global-hero no-padding shadow-off bg_medium_grey" style="padding-top:80px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
						<div class="wpb_raw_code wpb_content_element wpb_raw_html">
							<div class="wpb_wrapper">
								<h1 class="main-title animated fadeInUp">
									<span class="fs-bigger" style="font-family:Roboto; text-transform: none;">Gmov</span>
								</h1>
								<h1 class="main-title animated fadeInUp" style="padding-top:10px;">
									<p class="main_title" style="letter-spacing:-1px;">
										<span style="display:inline-block; margin-left:30px;">정품인증</span><br/>
										<span style="display:inline-block; margin-left:30px;">이력추적</span><br/>
										<span style="display:inline-block; margin-left:30px;">수익의 사회환원</span>
									</p>
								</h1>
								<h3 class="teaser_text animated2 fadeInUp color_change">
									세계 최고의 3D 보안필름에 Blockchain 기술을 융합하여<br />
								   정품이  유통되는 세상을 만듭니다.
								</h3>
								<h3 class="teaser_text animated2 fadeInUp color_change" style="text-transform: none;">
									첨단 스타트업에 투자/육성하여 Gmov 생태계를 지속적으로 확장합니다.
								</h3>
                <!-- <div class="start-timer">
                  <h1 class="teaser_text" style="text-align: center;"> 스타트 타이머 위치 테스트 </h1>
                </div> -->
							</div>
						</div>
						</div>
						<!-- <div class="col-md-4">
						</div>  -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="main-content parallax-padding no-padding shadow-off" style="padding-top:80px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="wpb_raw_code wpb_content_element wpb_raw_html">
						<div class="wpb_wrapper">
							<img class="floor-preload" src="images/floor25.png">
							<img class="floor-preload" src="images/floor.png">
							<img class="floor-preload" src="images/l0.png">
							<img class="floor-preload" src="images/l1.png">
							<img class="floor-preload" src="images/l2.png">
							<img class="floor-preload" src="images/l3.png">
							<img class="floor-preload" src="images/l4.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<!--=================================
 banner -->


<!--=================================
about-->

<section class="page-section-ptb bg_dark_grey" id="menu01" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-offset="-100" data-aos-duration="1000">
<div class="container">
	<div class="row">
		<div class="col-lg-6 sm-mb-30">
			<div class="bottom-center-dots" data-nav-dots="ture" data-smartspeed="1200" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1">
				<div class="item">
					<img class="img-fluid" src="images/sample/about_image.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="section-title">
				<h2 class="title-effect" style="font-family:Roboto; text-transform: none;">Gmov</h2>
			</div>
			<p>
				최고 수준의 Anti-counterfeiting 기술(G-MOV)을  바탕으로 on-off line 인증절차  시스템을 Blockchain(분산원장)으로 개발하여, 정품인증 절차를 용이하게 하고, 모조품 유통을 원천적으로 방지하여 소비자와 제조업체를 보호하고 국가 세수 누출 방지에 기여하고자 기획된 코인입니다. <br /> <br />
				<span class="fs_smaller">- G-MOV라벨이 부착된 정품을 APP 시스템으로 인증절차를 거치면 Gmov Coin 지급 <br />
				- Gmov Coin (MOV) 으로 스타트업기업에 투자 및 거래 교환용으로 활용성 증대 <br /></span> <br />
				① Anti-counterfeiting : G-MOV   ② Blockchain : Gmov(MOV) Platform
			</p>
			<!--div class="mt-30">
				<button type="button" class="button icon mb-10 mr-10" data-toggle="modal" data-target="#exampleModalCenter">보안 기술 & 제품<i class="fa fa-eye"></i></button>
				<button type="button" class="button icon mb-10 " data-toggle="modal" data-target="#exampleModal02">G<span class="lowercase">mov</span> Blockchain <i class="fa fa-eye"></i></button>
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<div class="modal-title" id="exampleModalLabel">
									<div class="section-title mb-10">
										<h6>EXPERTISE</h6>
										<h2>Modal title</h2>
										<p>We are an innovative agency. We develop and design customers around the world. Our clients are some.</p>
									</div>
								</div>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
							<div class="modal-body">
								<span class="dropcap square">Y</span>ou can use model anywhere in your website consectetur adipisicing elit. At vel sed corporis delectus quo ea molestias a ab ad officiis eaque natus animi reiciendis sint beatae, dolor inventore praesentium lorem qui.
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<div class="modal-title" id="exampleModalLabel">
									<div class="section-title mb-10">
										<h6>EXPERTISE</h6>
										<h2>Modal title</h2>
										<p>We are an innovative agency. We develop and design customers around the world. Our clients are some.</p>
									</div>
								</div>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<span class="dropcap square">Y</span>ou can use model anywhere in your website consectetur adipisicing elit. At vel sed corporis delectus quo ea molestias a ab ad officiis eaque natus animi reiciendis sint beatae, dolor inventore praesentium lorem qui.
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div-->
		</div>
	</div>
</div>
</section>
<section class="page-section-ptb bg_dark_grey" id="menu01" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-offset="-100" data-aos-duration="1000">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-4">
        <div class="teaser_text" style="text-align: center;">
          <div class="feature-icon">
            <i class="fa fa-address-book" style="font-size: 3rem;"></i>
          </div>
          <div class="fact-count">
            <h3 class="teaser_text" style="text-align: center;"><br><%=participant%></h3>
            <h3 class="teaser_text" style="text-align: center;">회원수</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-4">
        <div class="teaser_text" style="text-align: center;">
          <div class="feature-icon">
            <i class="fa fa-krw" aria-hidden="true" style="font-size: 3rem;"></i>
          </div>
          <div class="fact-count">
            <h3 class="teaser_text" style="text-align: center;"><br><%=icoCount%></h3>
            <h3 class="teaser_text" style="text-align: center;">목표금액</h3>
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="teaser_text" style="text-align: center;">
          <div class="feature-icon">
            <i class="fa fa-krw" aria-hidden="true" style="font-size: 3rem;"></i>
          </div>
          <div class="fact-count">
            <h3 class="teaser_text" style="text-align: center;"><br><%=icoValue%></h3>
            <h3 class="teaser_text" style="text-align: center;">참여금액</h3>
          </div>
        </div>
      </div> -->
      <div class="col-sm-6 col-md-3 col-lg-4">
        <div class="teaser_text" style="text-align: center;">
          <div class="feature-icon">
            <i class="fa fa-universal-access fa-spin" style="font-size: 3rem;"></i>
          </div>
          <div class="fact-count">
            <h3 class="teaser_text" style="text-align: center;"><br><%=ICOparti%></h3>
            <h3 class="teaser_text" style="text-align: center;">ICO 참여자</h3>
          </div>
        </div>
      </div>
    </div>
  </br>
  <!-- <div class="section-title">
    <h2 class="title-effect" style="font-family:Roboto; text-transform: none;"><%= i18n.landingPage_msg7%></h2>
  </div>
    <div class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="<%=icoComplete%>" aria-valuemin="0" aria-valuemax="<%=icoCount%>" style="height:24px; width:70%">
          70%
      </div>
    </div> -->
  </div></br>
</section>
 <!--=================================
about -->


<!--=================================
 Modal -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="modal-title" id="exampleModalLabel">
                 <div class="section-title mb-10">
                   <div class="mb-10">
                    <h2 class="text-uppercase">War of webster</h2>
                    <p class="text-uppercase">You can use model anywhere in your website. Simply add model HTML code where you want this popup model.</p>
                  </div>
                </div>
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p><span class="dropcap square">W</span>e are an innovative agency. We develop and design customers around the world. Our clients are some of the most forward-looking companies in the world.consectetur adipisicing elit. At vel sed corporis delectus quo ea molestias a ab ad officiis eaque natus animi reiciendis sint beatae dolor inventore praesentium lorem qui.
              </p>
              <p>Imagine reaching deep inside you for all the strength and wisdom that you need to make this decision today. As you do so, imagine that when you choose to make that decision that deep inside your mind you are switching off the alternative path, you are switching off the opportunity to drift back to that place.</p>
              <blockquote class="blockquote">Open your eyes and begin to plan your future and take action to achieve that outcome. Your unconscious mind now knows what it is working towards.</blockquote>
              <p>Then step out and take your future path. Absorb yourself in the sensations, the feelings, the sights, the sounds and of course continue to engage in your future the way I have discussed in previous articles on this blog. </p>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

<!--=================================
 Modal -->

 <section class="page-section-ptb position-relative bg_introduce" data-jarallax='{"speed": 0.3}' id="menu02">
   <div class="container">
   <div class="row">
      <div class="col-md-8">
        <div class="section-title">
          <h2 class="title-effect" style="font-family:Roboto; text-transform: none;">FIR-Gmov</h2>
        </div>
      </div>
    </div>
     <div class="row">
       <div class="col-md-4 xs-mb-40">
          <div class="feature-box h-100 feature-box-dark">
            <div class="feature-box-content">
            <h4 class="more_top"><i class="fa fa-angle-double-right icon_left"></i>&nbsp;MISSION &amp; VISION</h4>
	      			<p class="mt-20">
                    <span style="font-weight: 600;">Mission</span><br />
				             - 블록체인을 통해 정의롭고 안전한<br />
					           &nbsp; 세상을 만든다.<br /><br />
                    <span style="font-weight: 600;">Vision</span><br />
					          - 2025년 세계최대 블록체인 회사가<br />
				       &nbsp; 된다</p>
            </div>
            <!-- <a href="#">Read more</a> -->
            <div class="feature-box-img"></div>
            <span class="feature-border"></span>
          </div>
        </div>
        <div class="col-md-4 xs-mb-40">
          <div class="feature-box h-100 feature-box-dark">
            <div class="feature-box-content">
            <h4 class="more_top"><i class="fa fa-angle-double-right icon_left"></i>&nbsp;CEO &amp; VP</h4>
            <p class="mt-20">
                <span style="font-weight: 600;">CEO &amp; founder</span><br />
			        	조성재<br />
				        &nbsp; - 3D 정품인증 필름(G-MOV) 발명가<br />
				        &nbsp; - 투자가 및 기업가<br />
				        &nbsp; - GoldMaxGroup 창립<br />
				        &nbsp; - 영국 Brunel 대학 MSc<br /><br />
				        <span style="font-weight: 600;">VP &amp; Cofounder</span><br />
				        김종현<br />
                &nbsp; - 사단법인 안양, 군포, 의왕<br />
                &nbsp;&nbsp;&nbsp; 벤처기업협회 초대2대회장 역임<br />
                &nbsp; - 사단법인 경기벤처협회 Founder<br />
                &nbsp;&nbsp;&nbsp;&nbsp; 부회장 역임<br />
                &nbsp; - 주식회사 디스텍컴 CEO 역임<br />
                &nbsp; - 사단법인 한국소프트웨어산업협회<br />
                &nbsp;&nbsp;&nbsp;&nbsp; 부회장 역임</p>
            </div>
            <!-- <a href="#">Read more</a> -->
            <div class="feature-box-img"></div>
            <span class="feature-border"></span>
          </div>
        </div>
        <div class="col-md-4 xs-mb-40">
          <div class="feature-box h-100 feature-box-dark">
            <div class="feature-box-content">
            <h4 class="more_top"><i class="fa fa-angle-double-right icon_left"></i>&nbsp;관계사</h4>
                <p class="mt-20"><span style="font-weight: 600;">GoldMaxGroup Co.</span><br />
				&nbsp; - G-MOV 개발 및 제조<br />
				<br />
                <span style="font-weight: 600;">CryptoGoldMaxA Inc.</span><br />
				&nbsp; - G-MOV 판매<br />
				&nbsp; - 유망 스타트업 투자 및 육성<br /><br />
                    <span style="font-weight: 600;">Blueconex LLC (가칭)</span><br />
                &nbsp; - 스타트업 전문 거래소<br />
                &nbsp; - Gmov를 기축으로 거래<br />
			</p>
            </div>
            <!-- <a href="#">Read more</a> -->
            <div class="feature-box-img"></div>
            <span class="feature-border"></span>
          </div>
        </div>
       </div>
   </div>
</section>

  <!--=================================
 ICO -->

<section class="black-bg page-section-ptb" id="menu03">
   <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-left">
            <h2 class="title-effect text-white">ICO</h2>
          </div>
        </div>
      </div>
      <div class="row mb-50">
         <div class="col-lg-4 col-md-4 col-sm-4 xs-mb-30 border-right0">
            <div class="feature-step">
              <h1 class="text-whtie font-weight-500 text-dark_white text-center pt-1">M<span class="text-lower">ar</span> 2018<span class="text-black"></span></h1>
              <h3 class="text-white text-center text-dark_white0">1.5 Billion 1st ICO</h3>
              <!-- <p class="text-white"> G</p> -->
            </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4 xs-mb-30 border-right0">
            <div class="feature-step text-white">
              <h1 class="text-whtie text-dark_white font-weight-500 text-center">A<span class="text-lower">pr</span> 2018<span class="text-black"></span></h1>
              <h3 class="text-white text-center text-dark_white0">1.5 Billion 2nd ICO</h3>
            </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-step">
            <h1 class="text-whtie text-dark_white font-weight-500 text-center">M<span class="text-lower">ay</span> 2018<span class="text-black"></span></h1>
              <h3 class="text-white text-center text-dark_white">5 Billion Global ICO</h3>
              <!-- p class="text-white"> G</p> -->
            </div>
         </div>
      </div>

		  <div class="container">
			  <div class="row">
				<div class="col-lg-8 col-md-12 text-left">
				  <!-- chart canvas -->
				   <div class="chart-wrapper" style="width:100%; margin:0 auto;">
					<div id="canvas-holder">
						<canvas id="chart-area">
					</div>
				  </div>
				</div>
				<div class="col-lg-4 col-md-12 sm-mb-30 mt-50">
				  <div class="card bg_no">
					<div class="card-body">
					  <h3 class="card-title more_bright">자금 사용처</h3>
					 <!-- <h6 class="card-subtitle mb-3 text-muted">&nbsp;</h6>  -->
					  <p class="card-text"><span class="ti-check-box"></span> &nbsp;Blockchain 등 S/W 개발<br /><span class="ti-check-box"></span> &nbsp;Stamp 등 성형. 인쇄기구 개발<br />
		<span class="ti-check-box"></span> &nbsp;Gmov Coin 기반의 거래소 운영<br />
		<span class="ti-check-box"></span> &nbsp;스타트업 기업 중심의 거래소<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 시스템 개발<br />
		<span class="ti-check-box"></span> &nbsp;지적재산권 취득 등 절차 비용<br />
		<span class="ti-check-box"></span> &nbsp;스타트업 기업 발굴 투자<br />
		</p>
					</div>
				  </div>
				</div>
				</div>

			  </div>

		  </div>
</section>

 <!--=================================
 ICO -->


 <!--=================================
 roadmap -->

<section class="our-history white-bg page-section-ptb  bg_img" data-jarallax='{"speed": 0.3}' id="menu04">
  <div class="container">
    <div class="row justify-content-center">
       <div class="col-lg-10">
          <div class="section-title text-center">
            <h2 class="title-effect">Roadmap</h2>
          </div>
      </div>
    </div>
     <div class="row justify-content-center">
     <div class="col-lg-10">
        <div class="timeline-dots"></div>
        <ul class="timeline">
            <li>
              <div class="timeline-badge"><p class="theme-color">2014.04 ~ 2017.12</p></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                 <h5 class="timeline-title text-muted">G<span class="lowercase">mov</span> PLAN 01</h5>

                </div>
                <div class="timeline-body">
                  <p>G-MOV(3D Symbol) 개발 완료<br />
                    <span class="fs_small">기술특허 등록 완료 / 글로벌 마켓 시장 진입 <br /></span>
                    Gmov 구상,개발 착수(2017.7월)<br />
                    Gmov 개발 및 마케팅 전문가 Task Force Pool 구성<br />
                    <span class="fs_small">20인(국제변호사, 변리사 등)<br /></span>
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><p class="theme-color">2018.01</p></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h5 class="timeline-title text-muted">G<span class="lowercase">mov</span> PLAN 02</h5>
                </div>
                <div class="timeline-body">
                  <p>CryptoGoldMaxAmerica 설립 완료<br />
                    Blockchain 활용한 정품인증 및 프로모션 기능의<br /> BM 특허 출원<br />
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><p class="theme-color">2018.02 ~ 03</p></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h5 class="timeline-title text-muted">G<span class="lowercase">mov</span> PLAN 03</h5>
                </div>
                <div class="timeline-body">
                  <p>Partner Ship 계약 체결<br />
                  <span class="fs_small">GoldMaxGroup Co., Ltd &
                    CryptoGoldMaxAmerica Inc<br /></span>
                    Coin Wallet, Web site 개발(Test)<br />
                    Business &amp; Blockchain Technology White Paper 작성
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><p class="theme-color">2018.03 ~ 04</p></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h5 class="timeline-title text-muted">G<span class="lowercase">mov</span> PLAN 04</h5>
                </div>
                <div class="timeline-body">
                  <p>Gmov(MOV) Coin 교환 시작<br />1차, 2차 ICO<br />FIR-Gmov 설립<br />Business &amp; Blockchain Technology White Paper 공개</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><p class="theme-color">2018.04 ~ 06</p></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h5 class="timeline-title text-muted">G<span class="lowercase">mov</span> PLAN 05</h5>
                </div>
                <div class="timeline-body">
                  <p>Global ICO<br />CryptoGoldmaxIN &amp; China 설립<br />
				  코인 국제거래소 상장 추진<br />Gmov Community 활성화<br />Gmov(MOV) 보상플랜 가동</p>
                </div>
              </div>
            </li>
			<li class="timeline-inverted">
              <div class="timeline-badge"><p class="theme-color">2018.06 ~ 07</p></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h5 class="timeline-title text-muted">G<span class="lowercase">mov</span> PLAN 06</h5>
                </div>
                <div class="timeline-body">
                  <p>Gmov Coin  기반 거래소 개발 착수<br />코인펀딩 사업 진행<br /><span class="fs_small">스타트업기업  2개소 투자 완료<br /></span>
				  Gmov 기반 첨단기업 투자수요<br />투자가 필요한 스타트업 첨단기업 발굴</p>
                </div>
              </div>
            </li>
			<li>
              <div class="timeline-badge"><p class="theme-color">2018.07 ~ 09</p></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h5 class="timeline-title text-muted">G<span class="lowercase">mov</span> PLAN 07</h5>
                </div>
                <div class="timeline-body">
                  <p>Gmov Coin 기반거래소 운영준비<br />
    <span class="fs_small">스타트업기업 선정 및 투자<br />
     거래소 운영 S/W 개발<br /></span>
정품인증용 거래장부 개발완료<br />
정품인증 절차 APP 서비스<br />
     개발 완료 및 인증 보상 개시<br />
국내외 거래소 상장</p>
                </div>
              </div>
            </li>
			<li class="timeline-inverted">
              <div class="timeline-badge"><p class="theme-color">2018.10 ~ 12</p></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h5 class="timeline-title text-muted">G<span class="lowercase">mov</span> PLAN 08</h5>
                </div>
                <div class="timeline-body">
                  <p>9월 :  Gmov 기반 거래소 베타테스트<br />10월 : 비즈니스 그랜드오픈 세미나<br />11월 : 코인펀딩 투자 및 Gmov<br />
				  Coin 거래 시연회 개최<br />12월까지 자체거래소 오픈<br />코인펀딩 총 5개소 투자 완료</p>
                </div>
              </div>
            </li>
            <li class="timeline-arrow"><i class="fa fa-chevron-down"></i></li>
         </ul>
      </div>
     </div>
   </div>
</section>

 <!--=================================
roadmap -->

 <!--=================================
Marketing -->

<section id="menu05" class="product-feature white-bg dark_bg_0 page-section-ptb">
  <div class="container">
     <div class="row justify-content-center">
       <div class="col-lg-9 text-center">
        <div class="section-title">
           <h2 class="padding_40" style="font-family:Roboto; text-transform: none;">Gmov Coin의 핵심 가치</h2>
         </div>
        </div>
      </div>
        <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="feature-text left-icon round feature-border mb-60">
              <div class="feature-icon feature-icon_gold">
               <i class="fa fa-gear" style="font-size:35px;"></i>
            </div>
            <div class="feature-info">
              <h4 class="theme-color">기술</h4>
              <p>
			      	- 자체 Blockchain 기술<br />
				      - 분산원장<br />
				      - G-MOV On-line 기술 융합<br />
				      </p>
            </div>
          </div>
		   <div class="feature-text left-icon round feature-border mb-60">
             <div class="feature-icon">
             <i class="fa fa-object-ungroup" style="font-size:28px;"></i>
            </div>
            <div class="feature-info">
              <h4 class="theme-color">기존사업 기반</h4>
              <p>
				- 3D  보안필름 G-MOV 개발 .생산 .판매 경험<br />
				- 대형 인티그레이터 등 바이어 확보
				</p>
          </div>

		  </div>



		  <div class="feature-text left-icon round feature-border mb-60">
             <div class="feature-icon">
              <i class="fa fa-user-o" style="font-size:35px;"></i>
            </div>
            <div class="feature-info">
              <h4 class="theme-color">운영 전문성</h4>
              <p>
				- CEO 경영. 기획 전문성<br />
				- 우수한 관련기술 개발 인력 확보<br />
				- 기존 G-MOV 운영 경험 축적
				</p>
            </div>
          </div>
		  <div class="feature-text left-icon round feature-border mb-60">
             <div class="feature-icon">
              <i class="fa fa-joomla" style="font-size:31px;"></i>
            </div>
            <div class="feature-info">
              <h4 class="theme-color">미래성</h4>
              <p>
				- 기존의 보안 필름 사업과 연계하여 미래의 블루오션<br />&nbsp;&nbsp;사업으로 육성<br />
			   - Blockchain(분산원장) 기술의 범용화<br />
			   - 우수한 관련 인원의 확보로 지속적인 첨단 기술개발
				</p>
            </div>
          </div>
       </div>
      <!--  <div class="col-lg-4 align-self-center d-block">
        <div class="vertical-align">
           <img class="img-fluid full-width mx-auto" src="images/sample/center_img.png" alt="">
          </div>
       </div> -->

         <div class="col-lg-6 col-md-6">
          <div class="feature-text left-icon round feature-border mb-60 xs-mt-20">
              <div class="feature-icon">
             <i class="fa fa-bookmark-o" style="font-size:35px;"></i>
            </div>
            <div class="feature-info">
              <h4 class="theme-color">사회 기여</h4>
              <p>
				- 정품 유통질서 확립<br />
			   - 위조품 방지<br />
			   - 국가 세수 보호<br />
			   - 제품 판매 프로모션 기능<br />
			   - 관련 첨단기술 개발<br />
			   - 성장성이 있는 우수기업을 발굴/투자하여 최첨단 글로벌<br />&nbsp;&nbsp;기업으로 육성<br />
			   - Coin 보유자 및 상장 코인 매수자의 수익 극대화
				</p>
            </div>
          </div>

		  <div class="feature-text left-icon round feature-border mb-60">
             <div class="feature-icon">
             <i class="fa fa-plus" style="font-size:35px;"></i>
            </div>
            <div class="feature-info">
              <h4 class="theme-color">사업의 확장성</h4>
              <p>
				- 최첨단 위조방지 제품으로 시장 확대<br />
				- 24개국 Joint-Venture 설립으로 대량 수요 창출<br />
				- 첨단기업 투자로 유발된 보안필름 거래선 확보
				</p>
            </div>
          </div>
		   <div class="feature-text left-icon round feature-border mb-60">
             <div class="feature-icon">
             <i class="fa fa-lightbulb-o" style="font-size:35px;"></i>
            </div>
            <div class="feature-info">
              <h4 class="theme-color">차별성</h4>
              <p>
				- 기존의 G-MOV 보안 필름 사업을 기반으로 함.<br />
			   - 정품 인증시 코인을 지급하는 제품 판매 프로모션 마케팅<br />&nbsp;&nbsp;기법 도입<br />
			   - 우수한 보안성(G-MOV + Blockchain 분산원장)<br />
			   - Coin 보유자를 위한 보너스 지급 프로그램 도입<br />
			   - 스타트업 기업 Coin 펀딩 거래소 운영
				</p>
            </div>
          </div>

		</div>
	</div>
</div>
</section>

 <!--=================================
Marketing -->

<!--=================================
 team -->
<section class="page-section-ptb bg-overlay-black-70" data-jarallax='{"speed": 0.6}' style="background: url(images/sample/cont_bg3.jpg);" id="menu06">
 <div class="container">
  <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <h2 class="text-white title-effect">Blockchain 기술개발진</h2>
		  </div>
		</div>
		<div class="col-lg-6">
			<div class="section-title">
				<p class="text-dark_white1 mb-80">Blockchain 분산원장<br />&quot;A&quot; Coin 개발 및 공급 경험 개발자 보유</p>
			</div>
		</div>
	</div>
	  <div class="row">
      <div class="col-lg-6">
			<div class="section-title">
				<h2 class="text-white title-effect">전문인력 POOL</h2>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="section-title">
				<p class="text-dark_white1 mb-80">G-MOV 보안필름<br />S/W, ICO, 특허 변리사, 변호사, 세무사,<br />
				 회계사, 증권사, 투자금융회사, 마케팅회사<br />전직, 현직 전문가 참여</p>
			</div>
		</div>
    </div>
	<div class="row">
      <div class="col-lg-6">
			<div class="section-title">
				<h2 class="text-white title-effect">특허 보유 기술</h2>
			</div>
      </div>
		<div class="col-lg-6">
			<div class="section-title">
				<p class="text-dark_white1">G-MOV 보안필름<br /> 3D 다이렉트 프린팅<br />Blockchain과 Gmov를 연계한 정품인증 BM 특허 출원</p>
			</div>
      </div>
    </div>
	</div>
</section>

 <!--=================================
team -->


<!--=================================
 team -->
<!--
<section class="conference-team page-section-ptb" id="menu07">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title line text-center center">
            <h2 class="title">Partner</h2>
          </div>
       </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
          <div class="clients-list clients-border column-7 clients-list-overlay-black">
             <ul class="list-unstyled">
               <li>
                  <img class="img-fluid mx-auto" src="images/sample/1-1.png" alt="">
               </li>
               <li>
                  <img class="img-fluid mx-auto" src="images/sample/1-2.png" alt="">
               </li>
               <li>
                  <img class="img-fluid mx-auto" src="images/sample/1-3.png" alt="">
               </li>
               <li>
                  <img class="img-fluid mx-auto" src="images/sample/1-4.png" alt="">
               </li>
               <li>
                  <img class="img-fluid mx-auto" src="images/sample/1-5.png" alt="">
               </li>
               <li>
                  <img class="img-fluid mx-auto" src="images/sample/1-6.png" alt="">
               </li>
               <li>
                  <img class="img-fluid mx-auto" src="images/sample/1-7.png" alt="">
               </li>
               <li>
                  <img class="img-fluid mx-auto" src="images/sample/1-8.png" alt="">
               </li>
               <li>
                  <img class="img-fluid mx-auto" src="images/sample/1-9.png" alt="">
               </li>
               <li>
                  <img class="img-fluid mx-auto" src="images/sample/1-14.png" alt="">
               </li>
			    <li>
                  <img class="img-fluid mx-auto" src="images/sample/1-11.png" alt="">
               </li>
			    <li>
                  <img class="img-fluid mx-auto" src="images/sample/1-12.png" alt="">
               </li>
			    <li>
                  <img class="img-fluid mx-auto" src="images/sample/1-13.png" alt="">
               </li>
			    <li>
                  <img class="img-fluid mx-auto" src="images/sample/1-10.png" alt="">
               </li>
             </ul>
          </div>
        </div>
    </div>
    </div>
	</section> -->
	<section class="conference-team page-section-ptb bg_light_grey" id="menu07">
	<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title line text-center center">
            <h2 class="title">Partner</h2>
          </div>
       </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
          <div class="clients-inline clients-border column-5 clients-list-overlay-black">
             <ul>
               <li>
                  <img class="img-fluid mx-auto" src="images/sample/2-1.png" alt="">
               </li>
               <li>
                  <img class="img-fluid mx-auto" src="images/sample/2-5.png" alt="">
               </li>
               <li>
                  <img class="img-fluid mx-auto" src="images/sample/2-2.png" alt="">
               </li>
               <li>
                  <img class="img-fluid mx-auto" src="images/sample/2-4.png" alt="">
               </li>
               <li>
                  <img class="img-fluid mx-auto" src="images/sample/2-3.png" alt="">
               </li>
             </ul>
          </div>
        </div>
    </div>
    </div>
	</section>
	<section class="conference-team page-section-ptb">
	<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title line text-center center">
            <h2 class="title">CUSTOMERS</h2>
          </div>
       </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
          <div class="clients-inline clients-border column-2 clients-list-overlay-black text-center">
             <ul>

               <li>
                  <img class="img-fluid mx-auto"  src="images/sample/3-5.png" alt="">
               </li>
               <li>
                  <img class="img-fluid mx-auto"  src="images/sample/3-8.png" alt="">
               </li>

             </ul>
          </div>
        </div>
    </div>
    </div>
</section>
</main>
  </div>
</div>
 <!--=================================
team -->

<!--=================================
 footer -->

<footer class="footer gray-footer patten gold-bg">
<div class="container pt-100">
	<div class="row text-center">
		<div class="col-lg-4 col-md-4 col-sm-4" style="width:33.333%;">
			<div class="contact-add mb-30">
				<div class="text-center">
					<i class="ti-map-alt text-dark-white fs_more"></i>
					<h5 class="mt-15 text-dark-white0">Address</h5>
					<p class="text-dark-white0">12345 ABCD abcd</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4" style="width:33.333%;">
			<div class="contact-add mb-30">
				<div class="text-center">
					<i class="ti-mobile text-dark-white fs_more"></i>
					<h5 class="mt-15 text-dark-white0">Call Us</h5>
					<p class="text-dark-white0"> +(000) 000-0000</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4" style="width:33.333%;">
			<div class="contact-add mb-30">
				<div class="text-center">
					<i class="ti-email text-dark-white fs_more"></i>
					<h5 class="mt-15">Email Us</h5>
					<p class="text-dark-white0">test@firgmov.com</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-widget ">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<p class="mt-15"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> FIR-Gmov All Rights Reserved </p>
			</div>
			<div class="col-lg-6 col-md-6">
        <div class="social-icons color-hover float-right">
          <ul>
            <li class="twitter" style="background-color: gold-bg">
		        <a href="http://www.twitter.com/techandallcom" target="_blank">Twitter</a>
		        </li>

		        <li class="facebook" style="background-color: gold-bg">
		        <a href="http://www.facebook.com/" target="_blank">Facebook</a>
		        </li>

		        <li class="youtube" style="background-color: gold-bg">
		        <a href="http://www.youtube.com/" target="_blank">YouTube</a>
		        </li>

		        <li class="googleplus" style="background-color: gold-bg">
		        <a href="http://www.google.com/" target="_blank">Google +r</a>
		        </li>
        </ul>
        </div>
				<!-- <div class="social-icons color-hover float-right">
					<ul>
						<li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i> </a></li>
						<li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
					</ul>
				</div> -->
			</div>
		</div>
	</div>
</div>
</footer>

<!--=================================
 footer -->

</div>



<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i> <span>TOP</span></a></div>

<!--=================================
 jquery -->

<!-- jquery -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-1.12.4.min.js"></script>

<!-- plugins-jquery -->
<script src="js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script>var plugin_path = 'js/';</script>

<!-- Google recaptcha -->
<script src='https://www.google.com/recaptcha/api.js'></script>

<!-- Chart -->
<script type="text/javascript" src="js/chart/moment.min.js"></script>
<script type="text/javascript" src="js/chart/Chart.min.js"></script>
<script type="text/javascript" src="js/chart/utils.js"></script>

<script type="text/javascript" src="js/jquery_parallax-scroll.js"></script>
<script type="text/javascript" src="js/aos.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script  src="js/index.js"></script>
<script type="text/javascript">
		AOS.init();
	 </script>
<script>
    //var x = '억';

    var randomScalingFactor1 = function() {
        return Math.round(15);
    };
    var randomScalingFactor2 = function() {
        return Math.round(15);
    };
    var randomScalingFactor3 = function() {
        return Math.round(50);
    };
    var randomScalingFactor4 = function() {
        return Math.round(180);
    };
    var randomScalingFactor5 = function() {
        return Math.round(120);
    };


    var config = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    randomScalingFactor1(),
                    randomScalingFactor2(),
                    randomScalingFactor3(),
                    randomScalingFactor4(),
                    randomScalingFactor5()
                ],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.orange,
                    window.chartColors.yellow,
                    window.chartColors.blue,
                    window.chartColors.green
                ],
                label: 'Dataset 1'
            }],
            labels: [
                "1차-ICO",
                "2차-ICO",
                "Global-ICO",
				        "Gmov 운영",
				        "사업추진 주체별 할당"
            ]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: '',
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
    };

    window.onload = function() {
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myDoughnut = new Chart(ctx, config);
    };

    </script>

</body>
</html>
