<!DOCTYPE html>
<html lang="ko">
  <head>
    <title> <%= i18n.privacyPolicy_title%></title>

    <%- include ../common/bootstrap.ejs %>

    <style>
    p.blacktext-5{
      border: 2px solid grey;
    }
    p{
      font-size: 18px;
      color: #4C4C4C;
    }
    p.subtitle{
      font-size: 26px;
      color: #000000;
    }
    </style>

  </head>
  <body>

    <%- include ../common/header.ejs %>

    <section class="section" data-stellar-background-ratio="0.2">
      <div class="container">
  			<div class="row text-center mb-3">
  				<div class="col-lg-12 m-auto">
  					<h1 class="text-color-dark text-uppercase font-weight-bold"><%= i18n.privacyPolicy_msg1%></h1>
  				</div>
  			</div>
  			<div class="row mb-5">
  				<div class="col-lg-12 m-auto">
  					<div>
  						<p><%= i18n.privacyPolicy_msg2%></p>
  						<p><%= i18n.privacyPolicy_msg3%></p>
  					</div>
  					<div>
              <p class="subtitle font-weight-bold"><%= i18n.privacyPolicy_msg4%></p>
              <p><%= i18n.privacyPolicy_msg5%></p>
  					</div>
  					<div>
  						<p class="subtitle font-weight-bold"> <%=i18n.privacyPolicy_msg6%></p>
  						<p><%= i18n.privacyPolicy_msg7%></p>
  						<p><%= i18n.privacyPolicy_msg8%></p>
  						<p><%= i18n.privacyPolicy_msg9%></p>
  						<p><%= i18n.privacyPolicy_msg10%></p>
  						<p><%= i18n.privacyPolicy_msg11%></p>
  					</div>
  					<div>
  						<p class="subtitle font-weight-bold"><%= i18n.privacyPolicy_msg12%></p>
  						<p><%= i18n.privacyPolicy_msg13%></p>
  					</div>
  					<div>
  						<p class="subtitle font-weight-bold"><%= i18n.privacyPolicy_msg14%></p>
  						<p><%= i18n.privacyPolicy_msg15%></p>
  						<p><%= i18n.privacyPolicy_msg16%></p>
  						<p><%= i18n.privacyPolicy_msg17%></p>
  						<p><%= i18n.privacyPolicy_msg18%></p>
  					</div>
  					<div>
  						<p class="subtitle font-weight-bold"><%= i18n.privacyPolicy_msg19%></p>
  						<p><%= i18n.privacyPolicy_msg20%></p>
  						<p><%= i18n.privacyPolicy_msg21%></p>
  						<p><%= i18n.privacyPolicy_msg22%></p>
  					</div>
  					<div>
  						<p class="subtitle font-weight-bold"><%= i18n.privacyPolicy_msg23%></p>
  						<p><%= i18n.privacyPolicy_msg24%></p>
  						<p><%= i18n.privacyPolicy_msg25%></p>
  						<p><%= i18n.privacyPolicy_msg26%></p>
  						<p><%= i18n.privacyPolicy_msg27%></p>
  						<p><%= i18n.privacyPolicy_msg28%></p>
  						<p><%= i18n.privacyPolicy_msg29%></p>
  						<p><%= i18n.privacyPolicy_msg30%></p>
  					</div>
  					<div>
  						<p class="subtitle font-weight-bold"><%= i18n.privacyPolicy_msg31%></p>
  						<p><%= i18n.privacyPolicy_msg32%></p>
  					</div>
  					<div>
  						<p class="subtitle font-weight-bold"><%= i18n.privacyPolicy_msg33%></p>
  						<p><%= i18n.privacyPolicy_msg34%></p>
  					</div>
  				</div>
  			</div>

  		</div>
  	</section>
    <%- include ../common/index-js.ejs %>
  </body>
</html>
